 @import 'hamburger';

.header{
    height: 10vh;
}

.navigation{

    height: 10vh;
    text-align: center;

    &__list-items{
    display: grid;
    width:98%;
    grid-template-columns: repeat(2, 1fr);
    transform: translateX(-130%);
    transition:.3s .2s ease-in-out;
    background-color: #FFF;
    border: 3px solid $primary-color;
    border-radius: 2%;
    }

    &__list-item{
    padding: 3.5rem 1rem 3.5rem 1rem;
    font-size: 28px;
    font-weight: bold;
    }

    &__logo{
    position: relative;
    right:30%;
    top:48px;
    }

    &__link{
        font-weight: 600;
        color: black;
    }
}

.navigation--active{

    .navigation__list-items{

        transform: translateX(0%);
        }
}

.gift-finder{
    display: none;
    position: relative;
    left:20%;
    top:42px;
    font-family: 'Quicksand', sans-serif;
    height:45px;
    width: 150px;
    background-color: #FFF;
    border: 1px solid #F7941E;
    box-sizing: border-box;
    border-radius: 5px;

    &__text{
        color: $primary-color;
        font-family: 'Quicksand', sans-serif;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 22px;
    }
}